.nnav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 19, 37);
    height: 70px;
    width: 100vw;
}

.nlinks {
    display: flex;
    width: 400px;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.nlinks li {
    margin-top: 11px;
    padding: 3px;
}

.nlinks li a {
    font-size: large;
    font-weight: 500;
}

.nlinks li:hover {

    background-color: rgb(92, 130, 143);
    border-radius: 5px;
}


.nlinks li a {
    text-decoration: none;
    color: white;
}

.nlogo {
    
    margin-top: 20px;
    margin-left: 15px;
}

.ni1
{
    height: 35px;
    width: 240px;
}



.nimg_main
{
    position: absolute;
    width: 1457px;
    height:360px ;
}

.nhead
{
    position: relative;
    height:230px;
    padding-top: 85px;
    padding-left: 560px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
.ndisplay
{
    margin-top: 61px;
    margin-left: 85px;
    margin-right: 100px;
    height: 300px;
    width:300px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.196);
    border-radius: 9px;
}

.ndisplay1
{
    margin-top: 90px;
    margin-left: 85px;
    margin-right: 100px;
    height: 300px;
    width:300px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.196);
    border-radius: 6px;

}

.ndisplay:hover
{
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.556);
}

.ndisplay1:hover
{
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.556);
}

#ncontainer_sub
{
    display: flex;
    justify-content: space-between;
    
}

.ntext
{
    margin-left: 23px;
}

.nitem
{
    height: 140px;
    width: 300px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 100px;
}

.ncity
{
    margin-left: 90px;
}
.nc12
{
    margin-left: 60px;
}

.ncity2
{
    margin-left:59px;
  
}

.ncity3
{
    margin-left:100px;
}

.ncity4
{
    margin-left:109px;
}

.ncity5
{
    margin-left:98px;
}
.ncity6
{
   margin-left: 59px;
}

.nstudent
{
    position: absolute;
    width: 1457px;
    margin-top: 100px;
}

.ndiscount
{
    position: relative;
    height: 389px;
    width:1196px;
    margin-top: 100px;
    padding-top: 120px;
    padding-left: 260px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.368);
}

#nupper
{
    padding-left: 340px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.692);
    font-family: cursive;
    padding-bottom: 20px;
}

#nlower
{
    font-size: 28px;
    padding-left: 160px;
}
.nhead2
{ 
    padding-left: 510px;
    text-shadow: 2px 3px 4px ;
    margin-top: 120px;
    font-size: 45px;
    /* first one is for right movement 2nd for downward movement and 3rd for blurness of text if want
    to give color just enter the color name in the end after 3rd one */
}

.nmap
{
    width: 1450px;
    height: 950px;
    position: absolute;
    padding-bottom: 100px;
}

.ncontainer
{

    position: relative;
    height: 30px;
    width: 25px;
    display:block;
    
}

.ncontainer:hover
{
    .ncard{display: inline-block;}
    transition: 0.4s;
}

.npin
{
    height: 30px;
    width: 30px;
    flex-direction: center;
    border-radius: 100px;
    transition: 0.4s;

}

.npin:hover
{
    box-shadow: 0px 6px 18px red;
    #ncontainer2{display: none;}
}

.ncard
{
    position: relative;
    display: inline-block;
    height: 260px;
    width: 190px;
    box-shadow: 0px 2px 3px 1px black;
    display: none;
}

.ncard:hover
{
    box-shadow: 0px 6px 18px rgba(194, 33, 33, 0.651);
}

.npic
{
    height: 260px;
    width: 190px;
}

.nh
{
    position: relative;
    display: inline;
}

#ncontainer1
{
    margin-top: 187px;
    margin-left: 159px;
}

#npic1
{
    height: 190px;
    width: 290px;
}

#ncard1
{
    margin-left: 10px;
    height: 190px;
    width: 290px;
}

.nh
{
    background-color: rgba(184, 35, 35, 0.493);
}

#ncontainer2
{
    margin-top: 43px;
    margin-left: 495px;
    
}

#npic2
{
    height: 255px;
    width: 195px;
}
#ncard2
{
   margin-left: 13px;
   height: 255px;
    width: 195px;
}

#ncontainer3
{
   margin-left: 742px;
}

#ncard3
{
    margin-left: 10px;
}

#ncontainer4
{
     margin-left: 700px;
     margin-top: 22px;
}

#ncontainer5
{
    margin-left: 1215px;
}

#ncontainer6
{
    margin-left:1160px;
    margin-top: 42px;
}

#ncontainer7
{
    margin-left:1086px;
    margin-top: 17px;
}

#npic7
{
    height: 190px;
    width: 300px;
}

#ncard7
{
    height: 190px;
    width: 300px;
}

#ncontainer8
{
    margin-left: 367px;
    margin-top: 8px;
}

#npic8
{
    height: 160px;
    width: 303px;
}

#ncard8
{
    height: 160px;
    width: 303px;
}
#ncontainer9
{
    margin-left: 970px;
}

#npic9
{
    height: 160px;
    width: 303px;
}

#ncard9
{
    height: 160px;
    width: 303px;
}

#ncontainer10
{
    margin-left: 340px;
    margin-top: 10px;
}

#npic10
{
    height: 160px;
    width: 303px;
}

#ncard10
{
    height: 160px;
    width: 303px;
}

#ncontainer11
{
    margin-left: 865px;
}

#npic11
{
    height: 160px;
    width: 303px;
}

#ncard11
{
    height: 160px;
    width: 303px;
}

#ncontainer12
{
    margin-left: 759px;
    margin-top: 39px;
}

#npic12
{
    height: 164px;
    width: 300px;
}
#ncard12
{
    height: 164px;
    width: 300px;
}


.n1container {
    display: flex;
}

.nhelp {

    padding: 30px;
    width: 460px;
}

.nhelp h3 {
    margin-left: 30px;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.nhelp ul {
    list-style: none;
    margin-left: 30px;
}

.nhelp li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: white;
    margin-bottom: 15px;
    border: 2px;
    text-size-adjust: 30px;
}

.nhelp li a:hover {
    color: skyblue;
    text-decoration: underline;
}


.ncontactus {

    padding: 30px;
    width: 400px;
}

.ncontactus h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.ncontactus ul {
    list-style: none;
}

.ncontactus li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: white;
    margin-bottom: 15px;
    border: 2px;
    text-size-adjust: 30px;
}

.ncontactus li a:hover {
    color: skyblue;
    text-decoration: underline;
}

.nquick {

    padding: 30px;
    width: 410px;
}

.nquick h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.nquick ul {
    list-style: none;
}

.nquick li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: white;
    margin-bottom: 15px;
    border: 2px;
    text-size-adjust: 30px;
}

.nquick li a:hover {
    color: skyblue;
    text-decoration: underline;
}

.nsocial {

    padding: 30px;
    width: 360px;
}

.nsocial h3 {

    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.nsocial ul {
    list-style: none;
}

.nsocial li img {

    line-height: 2;
    color: white;
    padding-bottom: 10px;
}

.nsocial li:hover {

    width: max-content;
    background-color: rgb(92, 130, 143);
    border-radius: 5px;
}


.ncopyright {
    color: white;
    margin-left: 1120px;
}

.nfooter {

    background-color: rgb(30, 30, 66);
    margin-top: 350px;
    width: 100vw;
}
